---
import RootLayout from "../layouts/root-layout.astro";
const { frontmatter } = Astro.props;

function menuEntryClass(href: string) {
  return href === Astro.url.pathname ? " active" : "";
}
const menuEntries = {
  honeyNets: [
    {
      title: "Fortaleciendo la Seguridad en Redes: El Poder de las Honey Nets",
      href: "/honey-nets",
    },
    {
      title: "Características y Funciones",
      href: "/honey-nets/characteristics",
    },
    {
      title: "Honey Nets Virtuales",
      href: "/honey-nets/virtual",
    },
    {
      title: "Ubicación en la Red",
      href: "/honey-nets/location",
    },
  ],
  tunneling: [
    {
      title: "Establecimiento de un enlace seguro de red: Tunelización",
      href: "/tunneling",
    },
    {
      title: "VPN",
      href: "/tunneling/vpn",
    },
    {
      title: "SSH",
      href: "/tunneling/ssh",
    },
    {
      title: "Point to Point Tunneling Protocol",
      href: "/tunneling/pptp",
    },
  ],
  iot: [
    {
      title: "¿Qué es el Internet de las cosas?",
      href: "/iot",
    },
    {
      title: "Riesgos de seguridad y buenas prácticas",
      href: "/iot/risks",
    },
    {
      title: "Privacidad y Seguridad",
      href: "/iot/privacy",
    },
    {
      title: "IoT Industrial",
      href: "/iot/industry",
    },
  ],
};
---

<RootLayout title={frontmatter.title}>
  <!-- Start navbar -->
  <div class="navbar mx-auto max-w-screen-xl border-b bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost text-xl" href="/" title="SecureNet">
        <img class="h-8 w-8" src="/logo.svg" alt="Logo" />
        <span>SecureNet</span>
      </a>
    </div>
    <div class="navbar-end">
      <a class="btn" href="/about">Nuestro equipo</a>
    </div>
  </div>
  <!-- End navbar -->

  <main class="pattern min-h-[calc(100vh-4rem)]">
    <div
      class="mx-auto grid max-w-screen-lg grid-cols-[max-content_1fr] space-x-4 p-4"
    >
      <!-- Start article card -->
      <div class="card card-bordered max-w-prose border-base-300 bg-base-100">
        <figure class="aspect-[851/315] w-full">
          <div class="cover-isometric h-full w-full"></div>
        </figure>
        <div class="card-body">
          <article class="prose">
            <slot />
          </article>
        </div>
      </div>
      <!-- End article card -->

      <!-- Start of sidebar -->
      <div>
        <ul class="menu rounded-box border bg-base-100">
          <li>
            <h2 class="menu-title">Honey Nets</h2>
            <ul>
              {
                menuEntries.honeyNets.map((entry) => (
                  <li>
                    <a
                      class={"menu-link" + menuEntryClass(entry.href)}
                      href={entry.href}
                    >
                      {entry.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
          <li>
            <h2 class="menu-title">Tunelización</h2>
            <ul>
              {
                menuEntries.tunneling.map((entry) => (
                  <li>
                    <a
                      class={"menu-link" + menuEntryClass(entry.href)}
                      href={entry.href}
                    >
                      {entry.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
          <li>
            <h2 class="menu-title">Internet de las Cosas</h2>
            <ul>
              {
                menuEntries.iot.map((entry) => (
                  <li>
                    <a
                      class={"menu-link" + menuEntryClass(entry.href)}
                      href={entry.href}
                    >
                      {entry.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </li>
        </ul>
      </div>
      <!-- End of sidebar -->
    </div>
  </main>
</RootLayout>

<style>
  .pattern {
    background-color: oklch(var(--b2));
    opacity: 0.8;
    background: repeating-linear-gradient(
      45deg,
      oklch(var(--b3)),
      oklch(var(--b3)) 3.5px,
      oklch(var(--b2)) 3.5px,
      oklch(var(--b2)) 17.5px
    );
  }

  .cover-wavy {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #e5e5f7 10px
      ),
      repeating-linear-gradient(#444cf755, #444cf7);
  }

  .cover-circles {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7),
      repeating-radial-gradient(
        circle at center center,
        #444cf7,
        #444cf7,
        10px,
        transparent 20px,
        transparent 10px
      );
    background-blend-mode: multiply;
  }

  .cover-isometric {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(
        30deg,
        #444cf7 12%,
        transparent 12.5%,
        transparent 87%,
        #444cf7 87.5%,
        #444cf7
      ),
      linear-gradient(
        150deg,
        #444cf7 12%,
        transparent 12.5%,
        transparent 87%,
        #444cf7 87.5%,
        #444cf7
      ),
      linear-gradient(
        30deg,
        #444cf7 12%,
        transparent 12.5%,
        transparent 87%,
        #444cf7 87.5%,
        #444cf7
      ),
      linear-gradient(
        150deg,
        #444cf7 12%,
        transparent 12.5%,
        transparent 87%,
        #444cf7 87.5%,
        #444cf7
      ),
      linear-gradient(
        60deg,
        #444cf777 25%,
        transparent 25.5%,
        transparent 75%,
        #444cf777 75%,
        #444cf777
      ),
      linear-gradient(
        60deg,
        #444cf777 25%,
        transparent 25.5%,
        transparent 75%,
        #444cf777 75%,
        #444cf777
      );
    background-size: 20px 35px;
    background-position:
      0 0,
      0 0,
      10px 18px,
      10px 18px,
      0 0,
      10px 18px;
  }
</style>
